.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 24px;
}

.card-body {
    align-items: center;
    justify-content: center;
    display: flex;
}

ul {
    align-items: center;
    justify-content: center;
}